<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin_base.html :: head"></head>
<head>
<link th:href="@{/css/admin/admin_home.css}" rel="stylesheet" />
<title>admin page</title>
</head>

<body>
<div class="box">
	
	<header th:replace="fragments/admin_base.html :: header"></header>
	<div class="content">
		
		
			<button>				
			<a th:href="@{/admin/prenotazioni}" class="w-100 btn btn-lg btn-primary">
			<h1>Gestisci prenotazioni</h1></a> </button>
   		     
   		     <button >
			<a th:href="@{/admin/sale}" class="w-100 btn btn-lg btn-primary"> <h1>Gestisci sale</h1>
   		    </button>
   		    
   		    <button>
			<a th:href="@{/admin/addProdotto}" class="w-100 btn btn-lg btn-primary"><h1>Gestisci piatti</h1></a>
			</button>
   		    
   		    <button>
			<a th:href="@{/admin/reset}" class="w-100 btn btn-lg btn-primary"><h1>Reset</h1></a>
			</button>
   		    
   		    <button>
			<a th:href="@{/logout}" class="w-100 btn btn-lg btn-primary" ><h1>Logout</h1></a>
			</button>
	</div>
			
   		</div>
		

	
</body>
</html>