<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head th:replace="fragments/base.html :: head"></head>-->
<head>
<!--  <link th:href="@{/css/index.css}" rel="stylesheet" />-->
<title>admin page</title>
</head>

<body>
<div id="container">
	
	
		<h2 id="titolo">cosa vuoi fare:</h2>
		
			<a th:href="@{/admin/prenotazioni}">visualizza prenotazioni</a>
   		
			<a th:href="@{/admin/sale}">visualizza sale</a>
   		
			<a th:href="@{/admin/addProdotto}">aggiungi piatto</a>
   		
			<a th:href="@{/admin/reset}">reset</a>
   		
			<a th:href="@{/logout}">Logout</a>
			
			
   		</div>
		

	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>