<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin_base.html :: head"></head>
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">

<link th:href="@{/css/admin/prenotazioni.css}" rel="stylesheet" />
<title>admin page</title>
</head>

<body>
	<div class="flex-box">

		<header th:replace="fragments/admin_base.html :: header"></header>
		<div class="position-absolute top-0 left-0">
			<button type="button" class="btn btn-link  btn-sm "
				onclick="goBack()">Torna indietro</button>

			<script>
				function goBack() {
					window.history.back();
				}
			</script>
		</div>


		<div class="box">

			<div class="d-flex flex-column">


				<h2 th:if="${visualizzaSala}"
					th:text="|prenotazioni sala: ${visualizzaSala.nome}|"></h2>
				<h1 th:unless="${visualizzaSala}" id="titolo">Prenotazioni:</h1>


				<table
					class="table table-bordered table-striped table-warning table-hover fs-7">
					<thead>
						<tr class="table-active table-dark ">
							<th scope="col" class="colonnaMedia">Data</th>
							<th scope="col" class="colonnaPiccola">Orario</th>
							<th scope="col" class="colonnaMedia">Sala</th>
							<th scope="col" class="colonnaPiccola">Posti</th>
							<th scope="col" class="colonnaMedia">Posti liberi in sala</th>
							<th scope="col" class="colonnaMedia">Nome</th>
							<th scope="col">Note</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="7">
								<div class="boxInterno">
									<table class="table table-bordered table-striped table-warning table-hover fs-7">
										<tr th:each="prenotazione : ${prenotazioni}">
											<td class="colonnaMedia" th:text="${prenotazione.data}"></td>
											<td class="colonnaPiccola" th:text="${prenotazione.orario}"></td>
											<td class="colonnaMedia"th:text="${prenotazione.tavolo.sala.nome}"></td>
											<td class="colonnaPiccola"th:text="${prenotazione.posti}"></td>
											<td class="colonnaMedia"th:text="|${prenotazione.salaDataOra.postiLiberi} / ${prenotazione.tavolo.sala.postiTotali}|"></td>
											<td class="colonnaMedia"th:text="${prenotazione.utente.nome}"></td>
											<td th:text="${prenotazione.nota}"></td>
										</tr>
									</table>
								</div>
								<!-- div interno -->
							</td>
						</tr>
					</tbody>
				</table>
				<div class="d-grid gap-4 col-6  ">
					<form th:action="@{/admin/prenotazioniData}" method="GET">
						<input class="btn btn-success " th:name="dataSelezionata"
							type="date" autofocus="autofocus">
						<button type="submit" class="btn btn-danger ">Visualizza
							prenotazioni per data</button>
					</form>
					<form th:action="@{/admin/prenotazioniSala}" method="GET">
						<select class="btn btn-success " name="salaSelezionata">
							<option th:if="${visualizzaSala}"
								th:text="${visualizzaSala.nome}">
							<option th:each="sala : ${sale}" th:text="${sala.nome}"
								th:value="${sala.id}">
						</select>
						<button type="submit" class="btn btn-danger ">Visualizza
							prenotazioni per sala</button>
					</form>

				</div>
			</div>
		</div>

	</div>
</body>
</html>



