<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin_base.html :: head"></head>
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<link th:href="@{/css/admin/sala.css}" rel="stylesheet" />
<title>admin page</title>
</head>

<body>
<body>
	<div class="box">

		<header th:replace="fragments/admin_base.html :: header"></header>
		<div class="position-absolute top-0 left-0">
			<button type="button" class="btn btn-link  btn-sm "
				onclick="goBack()">Torna indietro</button>

			<script>
			function goBack() {
				window.history.back();
			}
		</script>
		</div>

		<div
			class=" d-flex  flex-column position-absolute top-50 start-50 translate-middle">
			<table class="table table-bordered table-striped table-warning table-hover fs-4">
				<thead>
					<tr class="table-active table-dark ">
						<th scope="col">Nome</th>
						<th scope="col">Posti Totali</th>
						<th scope="col">
						<th scope="col">
					
					</tr>
				</thead>
				<tbody>
					<tr th:each="sala : ${sale}">
						<td th:text="${sala.nome}"></td>
						<td th:text="${sala.postiTotali}"></td>
						<td><a th:href="@{'/sale/modifica'+'/'+${sala.id}}">Modifica</a></td>
						<td th:if="${sala.attiva}"><a th:href="@{'/sale/disattiva'+'/'+${sala.id}}">Disattiva</a></td>
						<td th:unless="${sala.attiva}"><a th:href="@{'/sale/attiva'+'/'+${sala.id}}">Attiva</a></td>
						

					</tr>

				</tbody>
			</table>


			<!--  MODIFICA SALA  -->
			<div class="d-grid gap-4 col-12">
			<form th:if="${modif}" th:action="@{/admin/modificaSala}"
				method="POST" th:object="${sala}">
				<h1>Modifica sala</h1>
				<div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>

				<h2 class="errore" th:if="${#fields.hasErrors('nome')}"
					th:errors="*{nome}"></h2>
				
				<br>
				<input type="hidden" th:field="*{id}" th:value="*{id}" /> 
				<strong>Nome:</strong><br>
				<input required th:field="*{nome}" /> <br> <strong>Posti
					Totali:</strong><br><input required type="number" min="0" value="1" step="1" th:field="*{postiTotali}" /> <br><br>

				<button class="btn btn-danger " type="submit">Conferma</button>
			</form>
			</div>
			<!--  AGGIUNGI SALA  -->
			<div class="d-grid gap-4 col-12">
			<form th:unless="${modif}" th:action="@{/admin/addSala}"
				method="POST" th:object="${sala}">
				<h2>Aggiungi sala:</h2>
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>

				<span class="errore" th:if="${#fields.hasErrors('nome')}"
					th:errors="*{nome}"></span> 
					
				<strong>Nome:</strong> <br><input required type="text" th:field="*{nome}" /> <br> 
				<strong>Posti Totali:</strong><br><input required class="my-2"type="number" min="0" value="1" step="1" th:field="*{postiTotali}" /> <br>

				<button class="btn btn-danger " type="submit">Conferma</button>
			</form>
			</div>

<a th:href="@{/admin/sale}"><button class="btn btn-danger my-5">Torna all'elenco completo</button></a>
		</div>
	</div>




	<footer th:replace="fragments/admin_base.html :: footer"></footer>
</body>
</html>