<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
	<link th:href="@{/css/base.css}" rel="stylesheet">
	<title>PIZZERIA </title>
</head>
<body>
	<div id="container">
		<header th:fragment="header">
		
		
		<div id="navbar" class="navbar top" th:fragment="navbar">
			<a class="navbar-brand" href="home.HTML"></a>
			<h1>PIZZERIA ROMA3 - admin</h1>
			<nav>
				<ul>
					<li><a th:href="@{/default}">Admin Home</a></li>
					<li><a href="/">Home Page</a></li>
					<li><a th:href="@{/logout}">Logout</a></li>

				</ul>
			</nav>
		</div>
		
	</header>
	</div>
	<footer th:fragment="footer"></footer>
</body>
</html>

