<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
	<link th:href="@{/css/base.css}" rel="stylesheet">
	<title>PIZZERIA </title>
</head>
<body>
	<div id="container">
		<header th:fragment="header">
		<h1 th:text="#{base.titolo}"></h1>
		
		<div id="navbar" class="navbar top" th:fragment="navbar">
			<a class="navbar-brand" href="home.HTML"></a>
			<h1>PIZZERIA ROMA3</h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a th:href="@{/menu.html}">Menu</a></li>
					<li><a th:href="@{/prenota}">Prenota</a></li>
					<li><a href="/contatti.html">Contatti</a></li>
					<li><a th:href="@{/login}">Login</a></li>
				</ul>
			</nav>
		</div>
		
	</header>
	
	<div id="footer" th:fragment="footer">
	<a th:href="@{/default}" th:text="#{base.areaAdmin}"></a>
	</div>
	</div>
</body>
</html>

