@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	background-color: white;
	color: black;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
	color: white;
}

h1{
	font-weight: 300; 
	font-family: 'Roboto', sans-serif;
	text-decoration:none;

}
p{
	font-family: 'Roboto', sans-serif;
	margin: 10px 0;
}

ul{
	list-style: none;
}





.navbar{
	background-color: black;
	padding: 0 40px;
	display: flex;
    justify-content: center;
	text-align: center;
	align-items: center;
	color: white;
	opacity: 0.8;
	height: 70px;
	width: 100%;
	position: fixed;
	top: 0;
	transition: 1s;
}



.navbar ul{
	display: flex;
   
}

.navbar ul li a{
	padding: 10px;
	margin-right: 10px;
	color: white;
	text-decoration: none;
	font-size: 150%;
}

.navbar ul li a:hover{
	
	border-bottom: 2px solid rgb(215, 8, 8);
}
