@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.box{
	height: 100vh;
	background: url(/images/prenotare.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	color: white;

}


div.content{
	padding:50px;
	color: white;
	font-size: x-large;
	text-align: center;
	display:flex;
	justify-content: space-around;
	}
	
#titolo{
	background-color: #e2e3e5;
	color: black;
}
.linea{
	width:100%;
	display:flex;
	margin: 5vh 0 5vh 0;
	justify-content: space-around;
}
#box1{
	color:black;
	background-color:rgba(118, 216, 111,0.5);
	width:40%;
	padding:20px;
}
#box2{
	background-color:rgba(255,143,106,0.5);
	width:40%;
	color:black;
}
div.riga{
	border-bottom:1px solid black;
		width:80%;
	display:flex;
	justify-content: space-around;
}
.primaColonna{
	width:80%;
}
.titoloPrenotazioni{
	color:black;
	text-align:center;
font-family: 'Alfa Slab One', cursive;
	}