<!doctype html>
  
<html lang="it">
  <head>
    <link rel="stylesheet" href="J:/progetto-siw-2021/siw-ristorante/src/main/resources/static/css/Contatti.css">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Contatti</title>
  </head>
  <body>
   <header class="box">
      <div id="navbar" class="navbar top">
        <a class="navbar-brand" href="home.HTML"></a>
        <h1>PIZZERIA ROMA3</h1>
        <nav>
          <ul>
           <li><a href="home.html">Home</a></li>
           <li><a href="Menù.html">Menù</a></li>
           <li><a href="">Prenota</a></li>
           <li><a href="contatti2.HTML">Contatti</a></li>
          </ul>
        </nav>
      </div>
     
     <div class="position-absolute top-0 left-0">
       <button type="button" class="btn btn-link  btn-sm " onclick="goBack()">Torna indietro</button>

<script>
function goBack() {
  window.history.back();
}
</script> 
</div>

 </header>

<div class="mappa my-5 ">
     <h2><strong>Dove siamo?</strong></h2>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.7864014581123!2d12.470315856270503!3d41.85442413325092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258a9240b893d9%3A0x8b6578a5a17ee26a!2sUniversit%C3%A0%20degli%20Studi%20Roma%20Tre%20-%20Ingegneria!5e0!3m2!1sit!2sit!4v1623148148311!5m2!1sit!2sit" style="border:;" allowfullscreen="" loading="lazy"></iframe>
   
</div>


<div class="info my-5 text-center">
    <h1>Contatti:</h1>
    <h2>Cellulare: 3420712501;</h2>
    <h2>Telefono: 06 5733 2100;</h2>
    <h2>E-mail:PizzeriaRoma3@siw.it</h2>
</div>



   
   











<footer class="text-center text-lg-start bg-light text-muted a">
  <!-- Section: Social media -->
  <section
    
  >
    <!-- Left -->
    <div class="my-5 d-none d-lg-block">
      <!-- Footer -->

    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Pizzeria Roma3
          </h6>
          <p>
          Tra una lezione e l' altra vieni da noi a mangiarti della buonissima pizza!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Prodotti
          </h6>
          <p>
            <a href="Menù.html" class="text-reset">Pizza</a>
          </p>
          <p>
            <a href="Menù.html" class="text-reset">Fritti</a>
          </p>
          <p>
            <a href="Menù.html" class="text-reset">Dolci</a>
          </p>
          <p>
            <a href="Menù.html" class="text-reset">Bevande</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Prenota
          </h6>
          <p>
            <a href="#!" class="text-reset">Tavolo</a>
          </p>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contatti
          </h6>
          <a href="https://goo.gl/maps/v4dND12CAFhz9EDWA"><p><i class="fas fa-home me-3"></i> Via della vasca navale 79</p> </a>
          <p>
            <i class="fas fa-envelope me-3"></i>
            E-mail: pizzeria_roma3@siw.it
          </p>
          <p><i class="fas fa-phone me-3"></i> Tel: 06 5733 3201</p>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="bootstrap.html">PizzeriaRoma3.it</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</div>


    </body>
  </html>
