
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/menu.css">
<meta charset="utf-8">
<title>Menù</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
</head>
<body>
	
	<header class="box">
		<div th:replace="fragments/base.html :: navbar"></div>
		
	<div class="position-absolute top-0 left-0">
		<button type="button" class="btn btn-link  btn-sm " onclick="goBack()">Torna
			indietro</button>

		<script>
			function goBack() {
				window.history.back();
			}
		</script>
	</div>
	</header>


	<div class="pizza my-5 ">
		<img
			src="/images/pizza2.jpeg">

		<h5>
			<strong>PIZZA:<br></strong> PIZZA BRESAOLA E RUCOLA pomodoro,
			mozzarella, bresaola, rucola .................................€ 7,30<br>
			CALZONE CLASSICO pomodoro, mozzarella, prosciutto e funghi
			............................................€ 6,70<br> CALZONE
			LIGHT pomodoro, mozzarella, ricotta fresca, spinaci
			...............................................€ 6,70<br> PIZZA
			CAPRICCIOSA pomodoro, mozzarella, prosciutto, funghi, carciofi
			..............................€ 7,00<br> PIZZA DIAVOLA pomodoro,
			mozzarella, salamino piccante
			.......................................................€ 6,70<br>
			PIZZA 4 FORMAGGI pomodoro, mozzarella, formaggio latteria, emmenthal,
			gorgonzola .....€ 6,70<br> PIZZA AI FUNGHI pomodoro, mozzarella,
			funghi freschi
			...........................................................€ 6,50<br>
			PIZZA MARGHERITA pomodoro, mozzarella
			..............................................................................€
			5,50<br> PIZZA MARINARA pomodoro, origano, aglio
			...............................................................................€
			4,00<br> PIZZA AI PORCINI pomodoro, mozzarella, porcini
			trifolati ........................................................€
			7,50<br> PIZZA AL PROSCIUTTO pomodoro, mozzarella, prosciutto
			cotto ..............................................€ 6,80<br>
			PIZZA ALLA ROMANA pomodoro, mozzarella, acciughe
			............................................................€ 6,80<br>
			PIZZA RUCOLA E GRANA pomodoro, mozzarella, rucola, grana a scaglie
			...............................€ 7,00<br> PIZZA SAN DANIELE
			pomodoro, mozzarella, prosciutto crudo
			...................................................€ 7,80<br>
			PIZZA 4 STAGIONI pomodoro, mozzarella, prosciutto , funghi ,
			carciofi, salamino ..............€ 7,20<br>
		</h5>
	</div>

	<div class="fritti my-5">



		<h5>
			<strong>FRITTI:<br></strong> Supplì
			........................€1,00 <br> Supplì carbonara ......€2,50
			<br> Supplì cacio e pepe ....€2,50 <br> Supplì matriciana
			......€2,50 <br> Patatine fritte .............€3,50 <br>
			Baccalà fritto ..............€2,00 <br> Crocchette di patate
			....€1,50 <br>
		</h5>
		<img src="/images/fritti.jpg"> 
		<img src="/images/fritti2.jpg"> 
		<img src="/images/fritti3.jpg">

	</div>

	<div class="bevande my-5 ">
		<img src="/images/bibita.jpg"> 
		<img src="/images/bibita2.jpg"> 
		<img src="/images/bibita3.jpg">

		<h5>
			<strong>BEVANDE:<br></strong> Acqua Minerale
			...........................€ 1,00<br> Aranciata in Barattolo
			................€ 1,50<br> Birra alla Spina Grande
			.............€ 4,00<br> Birra alla Spina Media ................€
			2,50<br> Birra alla Spina Piccola ..............€ 1,50<br>
			Birra Estera in Bottiglia .............€ 2,00<br> Birra Estera
			in Bottiglia .............€ 3,00<br> Birra Italiana in Bottiglia
			...........€ 2,00<br> Coca Cola
			...................................€ 1,50<br> Gassosa
			......................................€ 1,00<br> Thè alla Pesca
			............................€ 1,50<br>
		</h5>

	</div>

<div th:replace="fragments/base.html :: footer"></div>


</body>
</html>
