
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="J:/progetto-siw-2021/siw-ristorante/src/main/resources/static/css/Menu.css">
<link th:href="@{static/css/base.css}" rel="stylesheet">
<meta charset="utf-8">
<title>Menù</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
</head>
<body>
	<header class="box">
		<div id="navbar" class="navbar top">
			<a class="navbar-brand" href="home.HTML"></a>
			<h1>PIZZERIA ROMA3</h1>
			<nav>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="Menù.html">Menù</a></li>
					<li><a href="">Prenota</a></li>
					<li><a href="contatti2.HTML">Contatti</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="position-absolute top-0 left-0">
		<button type="button" class="btn btn-link  btn-sm " onclick="goBack()">Torna
			indietro</button>

		<script>
			function goBack() {
				window.history.back();
			}
		</script>
	</div>


	<div class="pizza my-5 ">
		<img
			src="J:/progetto-siw-2021/siw-ristorante/src/main/resources/static/images/pizza2.jpeg">

		<h5>
			<strong>PIZZA:<br></strong> PIZZA BRESAOLA E RUCOLA pomodoro,
			mozzarella, bresaola, rucola .................................€ 7,30<br>
			CALZONE CLASSICO pomodoro, mozzarella, prosciutto e funghi
			............................................€ 6,70<br> CALZONE
			LIGHT pomodoro, mozzarella, ricotta fresca, spinaci
			...............................................€ 6,70<br> PIZZA
			CAPRICCIOSA pomodoro, mozzarella, prosciutto, funghi, carciofi
			..............................€ 7,00<br> PIZZA DIAVOLA pomodoro,
			mozzarella, salamino piccante
			.......................................................€ 6,70<br>
			PIZZA 4 FORMAGGI pomodoro, mozzarella, formaggio latteria, emmenthal,
			gorgonzola .....€ 6,70<br> PIZZA AI FUNGHI pomodoro, mozzarella,
			funghi freschi
			...........................................................€ 6,50<br>
			PIZZA MARGHERITA pomodoro, mozzarella
			..............................................................................€
			5,50<br> PIZZA MARINARA pomodoro, origano, aglio
			...............................................................................€
			4,00<br> PIZZA AI PORCINI pomodoro, mozzarella, porcini
			trifolati ........................................................€
			7,50<br> PIZZA AL PROSCIUTTO pomodoro, mozzarella, prosciutto
			cotto ..............................................€ 6,80<br>
			PIZZA ALLA ROMANA pomodoro, mozzarella, acciughe
			............................................................€ 6,80<br>
			PIZZA RUCOLA E GRANA pomodoro, mozzarella, rucola, grana a scaglie
			...............................€ 7,00<br> PIZZA SAN DANIELE
			pomodoro, mozzarella, prosciutto crudo
			...................................................€ 7,80<br>
			PIZZA 4 STAGIONI pomodoro, mozzarella, prosciutto , funghi ,
			carciofi, salamino ..............€ 7,20<br>
		</h5>
	</div>

	<div class="fritti my-5">



		<h5>
			<strong>FRITTI:<br></strong> Supplì
			........................€1,00 <br> Supplì carbonara ......€2,50
			<br> Supplì cacio e pepe ....€2,50 <br> Supplì matriciana
			......€2,50 <br> Patatine fritte .............€3,50 <br>
			Baccalà fritto ..............€2,00 <br> Crocchette di patate
			....€1,50 <br>
		</h5>
		<img src="J:/progetto-siw-2021/siw-ristorante/src/main/resources/static/images/fritti.jpg"> 
		<img src="J:/progetto-siw-2021/siw-ristorante/src/main/resources/static/images/fritti2.jpg"> 
		<img src="J:/progetto-siw-2021/siw-ristorante/src/main/resources/static/images/fritti3.jpg">

	</div>

	<div class="bevande my-5 ">
		<img src="J:/progetto-siw-2021/siw-ristorante/src/main/resources/static/images/bibita.jpg"> 
		<img src="J:/progetto-siw-2021/siw-ristorante/src/main/resources/static/images/bibita2.jpg"> 
		<img src="J:/progetto-siw-2021/siw-ristorante/src/main/resources/static/images/bibita3.jpg">

		<h5>
			<strong>BEVANDE:<br></strong> Acqua Minerale
			...........................€ 1,00<br> Aranciata in Barattolo
			................€ 1,50<br> Birra alla Spina Grande
			.............€ 4,00<br> Birra alla Spina Media ................€
			2,50<br> Birra alla Spina Piccola ..............€ 1,50<br>
			Birra Estera in Bottiglia .............€ 2,00<br> Birra Estera
			in Bottiglia .............€ 3,00<br> Birra Italiana in Bottiglia
			...........€ 2,00<br> Coca Cola
			...................................€ 1,50<br> Gassosa
			......................................€ 1,00<br> Thè alla Pesca
			............................€ 1,50<br>
		</h5>

	</div>

	<footer class="text-center text-lg-start bg-light text-muted a">
		<!-- Section: Social media -->
		<section>
			<!-- Left -->
			<div class="my-5 d-none d-lg-block">
				<!-- Footer -->

			</div>
			<!-- Left -->

			<!-- Right -->
			<div>
				<a href="" class="me-4 text-reset"> <i class="fab fa-facebook-f"></i>
				</a> <a href="" class="me-4 text-reset"> <i class="fab fa-twitter"></i>
				</a> <a href="" class="me-4 text-reset"> <i class="fab fa-google"></i>
				</a> <a href="" class="me-4 text-reset"> <i class="fab fa-instagram"></i>
				</a> <a href="" class="me-4 text-reset"> <i class="fab fa-linkedin"></i>
				</a> <a href="" class="me-4 text-reset"> <i class="fab fa-github"></i>
				</a>
			</div>
			<!-- Right -->
		</section>
		<!-- Section: Social media -->

		<!-- Section: Links  -->
		<section class="">
			<div class="container text-center text-md-start mt-5">
				<!-- Grid row -->
				<div class="row mt-3">
					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<!-- Content -->
						<h6 class="text-uppercase fw-bold mb-4">
							<i class="fas fa-gem me-3"></i>Pizzeria Roma3
						</h6>
						<p>Tra una lezione e l' altra, vieni da noi per fare uno
							spuntino!</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">Prodotti</h6>
						<p>
							<a href="Menù.html" class="text-reset">Pizza</a>
						</p>
						<p>
							<a href="Menù.html" class="text-reset">Fritti</a>
						</p>
						<p>
							<a href="Menù.html" class="text-reset">Dolci</a>
						</p>
						<p>
							<a href="Menù.html" class="text-reset">Bevande</a>
						</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">Prenota</h6>
						<p>
							<a href="#!" class="text-reset">Tavolo</a>
						</p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">Contatti</h6>
						<a href="https://goo.gl/maps/v4dND12CAFhz9EDWA"><p>
								<i class="fas fa-home me-3"></i> Via della vasca navale 79
							</p> </a>
						<p>
							<i class="fas fa-envelope me-3"></i> E-mail:
							pizzeria_roma3@siw.it
						</p>
						<p>
							<i class="fas fa-phone me-3"></i> Tel: 06 5733 3201
						</p>

					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</div>
		</section>
		<!-- Section: Links  -->

		<!-- Copyright -->
		<div class="text-center p-4"
			style="background-color: rgba(0, 0, 0, 0.05);">
			© 2021 Copyright: <a class="text-reset fw-bold" href="bootstrap.html">PizzeriaRoma3.it</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
	</div>



</body>
</html>
