<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head"></head>
<head>
<link th:href="@{/css/base.css}" rel="stylesheet" />
<link th:href="@{/css/prenota.css}" rel="stylesheet" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
	  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<title>Prenota</title>



</head>

<body>
	
		<header class="box">
		<div th:replace="fragments/base.html :: navbar"></div>
		
	<div class="position-absolute top-0 left-0">
		<button type="button" class="btn btn-link  btn-sm " onclick="goBack()">Torna
			indietro</button>

		<script>
			function goBack() {
				window.history.back();
			}
		</script>
	</div>
	<div class="content">
	
	<div class="h-75"id="box1">
		<form th:action="@{/addPrenotazione}" method="POST" th:object="${prenotazione}">
				
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasGlobalErrors()}">
						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
					
					
					<span class="errore" th:if="${#fields.hasErrors('nome')}"
						th:errors="*{nome}"></span> 
					</div>
					
					<h1><strong class="titoloPrenotazioni" >Prenota il tuo tavolo</strong></h1>
					
					<div class="linea">
						<h3>Data:</h3> <input type="date" th:field="*{data}" required />
						
						<h3>Orario: </h3><select th:field="*{orario}" required>
						<option disabled="disabled" value="">--- pranzo ---</option>
						<option value="12:00">12:00</option>
						<option value="12:30">12:30</option>
						<option value="13:00">13:00</option>
						<option value="13:30">13:30</option>
						<option value="14:00">14:00</option>
						<option value="14:30">14:30</option>
						<option disabled="disabled" value="">--- cena ---</option>
						<option value="19:00">19:00</option>
						<option value="19:30">19:30</option>
						<option value="20:00">20:00</option>
						<option value="20:30">20:30</option>
						<option value="21:00">21:00</option>
						<option value="21:30">21:30</option>
						</select>
					</div>	
					<div class="linea">
						<h3>Persone:</h3>
						<select th:field="*{posti}">
									<option th:value=1>1 persona</option>
									<option th:each="i : ${#numbers.sequence(2, 20)}" th:text="|${i} persone|"th:value="${i}">
								</select>
						
						<h3>Sala: </h3>
						<select th:field="*{sala}">
									<option th:each="sala : ${sale}" th:if="${sala.attiva}" th:text="${sala.nome}" th:value="${sala.id}">
								</select>
					</div>	
					
					<h3>Note per il ristorante: </h3>
					<input th:field="*{nota}"></input>
					
					<button type="submit">Conferma</button>
	
			
				
	
	
				</form>
			</div>
			
		<div id="box2">
		<h1 class="titoloPrenotazioni">Le tue prenotazioni:</h1>

		
			<div th:each="prenotazione : ${prenotazioni}">
				<div class="riga">
					<div class="primaColonna">
						<span class="fw-bold" th:text="|Persone: ${prenotazione.posti}; Sala: ${prenotazione.sala.nome};|"></span><br>
						<span class="fw-bold" th:text="|Data: ${prenotazione.data}; Orario: ${prenotazione.orario};|"></span>
					</div>
					<a th:href="@{'/modificaPrenotazione'+'/'+${prenotazione.id}}" class="btn btn-outline-dark btn-md border-radius-lg fw-bold h-50 mx-2 my-3">Modifica</a>
			<a th:href="@{'/eliminaPrenotazione'+'/'+${prenotazione.id}}" class="btn btn-outline-dark btn-md border-radius-lg fw-bold h-50 mx-2 my-3">Elimina</a>
					
				</div>
			</div>
			
			

			
			
			
			
		</div>
</div>
	
                 

                

	</header>
	
	
	<!--                 <form  method="post">
               <table width="100%" border="0">
                  <tr>
                    
                    <td colspan="2"><b> Prenota il tuo tavolo!</b><br></td>
                  </tr>
                  
                  
                  <tr> 
                    <td align="right"> Data: </td>
                    <td>
                      <select name="Data:"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
                      
                      <select name="mesearrivo"><option value="1">gennaio</option><option value="2">febbraio</option><option value="3">marzo</option><option value="4">aprile</option><option value="5">maggio</option><option value="6">giugno</option><option value="7">luglio</option><option value="8">agosto</option><option value="9">settembre</option><option value="10">ottobre</option><option value="11">novembre</option><option value="12">dicembre</option></select>
                      <select name="annoarrivo"><option value="2021" selected>2021</option><option value="2022" >2022</option></select>
                    </td>
                    <td> </td>
                  </tr>
                  
                  <tr>
                    <td align="right">Persone: </td>
                    <td>
                      <select name="numeroadulti"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option></select>
                         
                    </td>
                    <td> </td>
                  </tr>
                  
                  </table>
                  <button type="submit" >Conferma</button>
                </form> -->
	
	 <!-- <div id="main">
				

			
-->


	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>